

.contacts-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts-data {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 42px;
}

.contacts-phone, .contacts-mail {
    flex-basis: 50%;
    margin-bottom: 53px;
}

.contacts-social {
    flex-basis: 100%;
}


.contacts-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
}

.contacts-text {
    flex-basis: 50%;
}

.contacts-link {
    text-decoration: none;
    color: inherit;
    margin-right: 37px;

    &:hover {
        text-decoration: underline;
    }
}

.contacts-form {
    background-color: #fff;
    box-shadow: -5px 5px 0px #FFC41D;
    border-radius: 5px;
    max-width: 380px;
    padding-top: 40px;
    padding-left: 48px;
    padding-right: 49px;
    padding-bottom: 49px;

    .form-title {
        color: black;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 29px;
    }

    .input {
        background: #F8F8F8;
        box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
        border-radius: 5px;
        padding: 18px 20px;
        width: 100%;
        border: none;
        font-size: 14px;
        line-height: 28px;
        padding-left: 50px;
    }

    .input-name {
        margin-bottom: 17px;
        background-image: url(../images/user-icon.svg);
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: center left 20px;
    }

    .input-phone {
        margin-bottom: 17px;
        background-image: url(../images/phone-icon.svg);
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: center left 20px;
    }

    .form-button {
        width: 100%;
    }
}

.contacts-policy {
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #A5A5A5;
    margin-top: 72px;
}

