.projects {
    background: linear-gradient(0deg, #20202D 0.0%, rgba(0, 0, 0, 0) 95.44%);
}

main {
    background-color: black;
}

.section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 84px;
}

.features-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features-item {
    flex-basis: 30%;
    margin-bottom: 63px;
}

.features-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
}

.features-images {
    display: block;
    margin-bottom: 22px;
}

.features-text {
    font-size: 16px;
    line-height: 28px;
}

.projects-slide {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.project-text {
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
}

.progect-title {
    flex-basis: 100%;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 41px;
}

.project-time,
.project-cost {
    flex-basis: 50%;
    margin-bottom: 44px;
}

.project-time,
.project-cost,
.project-feedback {
    display: flex;
    align-items: flex-start;
}

.progect-subtitle {
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.progect-paragraph {
    font-size: 16px;
    line-height: 19px;
}

.project-icon {
    margin-right: 16px;
}

.projects-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
}

.projects-bullet {
    width: 10px;
    height: 10px;
    border: 2px solid #FFBB01;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.projects-bullet-active {
    background-color: #FFBB01;
}