@media (max-width: 1100px) {
    .hero-avatar {
        width: 300px;
        height: 300px;
        border-width: 10px;
    }
}

@media (max-width: 836px) {
    .hero-content {
        flex-direction: column;
    }
    .hero-avatar {
        width: 300px;
        height: 300px;
        border-width: 10px;
        order: 0;
        margin-bottom: 100px;
    }
    .hero-text {
        order: 1;
        text-align: center;
    }
    .features-item {
        flex-basis: 45%;
    }
    .projects-slide {
        flex-direction: column;
    }
    .project-image {
        margin-bottom: 46px;
    }
    .contacts-block {
        align-items: flex-start;
        flex-direction: column;
    }
    .contacts-form {
        margin-bottom: 58px;
    }
    .
}